 <!-- MAIN IMAGE SECTION -->
				<form action="/wikipedia/search/" method="GET">{% csrf_token %}				
					<div>
						<br />					
						<br />
						<input type="text" id="search" name="search" value="" placeholder="Search Wikipedia e.g. Academy awrads" />
						<button type="submit" id="searchButton" style=""class="btn btn-green btn-lg">Search</button>
					</div>					
				</form>
		
