{% extends 'base.html' %}

{% block content %}
<div>
		<div class="container">
    <h2>Search</h2>
		<div class="row col-lg-8 col-lg-offset-2">		
		    {% search %}	
		</div>
		
		<div class="row col-lg-10">
        {% if query %}
            <h3>Results</h3>
		
            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
           {% endfor %}
		</div>
		<div class="row col-lg-10">
	            {% if page.has_previous or page.has_next %}
	                <div>
	                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	                    |
	                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
	                </div>
	            {% endif %}
	        {% else %}
	            {# Show some example queries to run, maybe query syntax, something else? #}
	        {% endif %}
        </div>
	</div>
</div>
{% endblock %}