{% extends "base.html" %}

{% block content %}

<input id="searchTerm" type="hidden" value="{{ searchTerm }}">
<div>
		<div class="container">
			<div id="related">
				<h2>Related Posts</h2>	
				{% if news_list %}
					{% for news in news_list %}
					<div class="nyt">
						<a href="{{ news.onlineurl }}" target="__blank">					
							{{ news.headline|safe|truncatewords:20 }}
						
						</a><br />
						{{ news.leadparagraph|safe|truncatewords:30}}
					</div>
					<br />
					{% endfor %}
				{% endif %}
			</div>
			<div id="media" class="col-lg-2">
				<h2>Media</h2>	
				
				
				
				<h2>REDDIT</h2>
				{% for reddit in searchRedditData %}
					<div class="reddit" style="width:100%;height:auto;font-size:small;word-wrap: break-word;"> 					
						<a href="{{ reddit.url }}" target="__blank">{{ reddit.title|truncatewords:20 }}</a><br />
						{{ reddit.text|truncatewords:30 }}					
					</div>
					<br />
				{% endfor %}
				
					<br />
					<div id="youtube" style="">
						<h2>YouTube</h2>
						{% for my_video in videos %}						
						   <embed  src="http://www.youtube.com/embed/{{ my_video }}" >					  		
						{% endfor %}
					</div>
					<div id="flickr" >
					<h2>FLICKR</h2>
					{% for pic in flickrPics%}
						{% if pic.url %}
							<a href="{{ pic.url }}" target="_blank"> {{ pic.title }}</a>
							<img alt=""   src="https://farm{{pic.farm}}.staticflickr.com/{{pic.server}}/{{pic.id}}_{{pic.secret}}_m.jpg">
						{% endif %}
					{% endfor %}
					</div>
			
			</div>
			
			<div class="row col-lg-8 col-lg-offset-2">				
								
				{% search %}				
			</div><!-- row -->
		
			<div class="row col-lg-offset-2 col-lg-8" id="article">
				<br />	<br />	<br />
			
					<div id="title">{{ article.title|safe }}</div>
					<br />
					<div id="text">{{ article.fulltext|safe }}</div>
				
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	

{% endblock %}
{% block inlinejs %}
   <script src="/media/js/masonry.pkgd.min.js"></script>

<script>
$(function(){

	var searchTerm = $('#searchTerm').val();
	$('#search').val(searchTerm);
	localStorage.setItem("searchTerm", searchTerm);
	
})

</script>
{% endblock %}
