{% extends "base.html" %}


{% block content %}
<input id="searchTerm" type="hidden" value="{{ searchTerm }}">
<div>
		<div class="container">
			<div id="cluster" class="col-lg-2">
				<h2>Cluster</h2>	
				<div>
					{% for clust, values in cluster.items %}
						<div>
						 <h3>{{ clust }}</h3>
						</div>			
								
							{% for value in values %}
							<div><a href="/wikipedia/article/{{ value.django_id }}/?search={{ searchTerm }}">{{ value.title }}
							
							</a></div>
							{% endfor %}
						
					{% endfor %}
				</div>
			</div>
			<div class="row col-lg-8 col-lg-offset-2">				
								
				{% search %}	<br />			
				   {% if spellSuggest %}
						Did you mean <a href="/wikipedia/search/?search={{ spellSuggest }}">{{ spellSuggest }}</a> ? 
					{% endif %}
					{% if error %}
					<br />
						<b>No results !Please enter some different text.</b>
					{% endif %}
			</div><!-- row -->
			<br />
				<div class="row col-lg-offset-2 col-lg-10">
				
		            {% if page.has_previous or page.has_next %}
		                <div>
		                    {% if page.has_previous %}<a href="?search={{ searchTerm }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
		                    |
		                    {% if page.has_next %}<a href="?search={{ searchTerm }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
		                </div>
		            {% endif %}
		         </div>
			
			<div class="row col-lg-offset-2 col-lg-10" id="articles" >
				{% if searchTerm %}
					{% for article in page.object_list %}
					<div class="article" >
						<a href="/wikipedia/article/{{ article.pk }}/?search={{ searchTerm }}">
							<div class="title">
								{{ article.title|safe }}
							</div>
							<br />
							<div class="summary">
								{{ article.fulltext|safe }}
							</div>
						</a>
					</div>
					{% endfor %}
				
					
		       
		         
		        {% endif %}
        
			
			</div>
			<br />
			<div class="row col-lg-offset-2 col-lg-10">
				
		            {% if page.has_previous or page.has_next %}
		                <div>
		                    {% if page.has_previous %}<a href="?search={{ searchTerm }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
		                    |
		                    {% if page.has_next %}<a href="?search={{ searchTerm }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
		                </div>
		            {% endif %}
		         </div>
				
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	

{% endblock %}

{% block inlinejs %}
   <script src="/media/js/masonry.pkgd.min.js"></script>

<script>
$(function(){
	var colors = ["green","blue","light-green","orange","yellow","mehendi","purple"]
	var i=0;
	$(".article").each(function(){
		$(this).addClass(colors[i]);
		i = i+1;
		if(i>=colors.length){
			i=0;
		}
		
	});
	var searchTerm = $('#searchTerm').val();
	$('#search').val(searchTerm);
	localStorage.setItem("searchTerm", searchTerm);
	
})
var $container = $('#articles');
// initialize
$container.masonry({
  columnWidth: 150,
  itemSelector: '.article'
});
</script>
{% endblock %}