{% extends "base.html" %}
{% block nav %}

{% endblock %}
{% block content %}
	<div id="headerwrap">
		<div class="container">
			<div class="row">				
				<h1>Prayasa</h1>				
				{% search %}				
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
{% endblock %}