<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/media/img/prayasa.ico">

    <title>Prayasa - Search your dreams</title>

    <!-- Bootstrap core CSS -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/css/main.css" rel="stylesheet">

    <link href="/media/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="/media/js/modernizr.custom.js"></script>
    
  </head>

  <body>
  {% block nav %}
	  <nav class="navbar navbar-inverse" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/wikipedia/">
	       PRAYASA
	      </a>
	    </div>
	  </div>
	</nav>
 {% endblock %}
	{% block content %}
    
	{% endblock %}
	


	
	
	
	
	
	{% block js%}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/main.js"></script>
	<script src="/media/js/masonry.pkgd.min.js"></script>
	<script src="/media/js/imagesloaded.js"></script>
    <script src="/media/js/classie.js"></script>
	<script src="/media/js/AnimOnScroll.js"></script>
	{% endblock %}
	{% block inlinejs %}
	{% endblock %}
  </body>
</html>
